.win-container {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 50px 500px 50px;
    width: 100%;
    height: calc(100% - 84px);
    .win-header {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .win-image {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        .bar-chart {
            background-color: #ffffff;
        }
    }
    .win-footer {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        .win-btn {
            width: 100%;
        }
    }
}