<div class="win-container">
  <div class="win-header">
    <h2>{{gameEngine.currentPlayer && gameEngine.currentPlayer.name}}</h2>
    <h3 *ngIf="gameEngine.currentPlayer && gameEngine.currentPlayer.isWinner">Is the Winner</h3>
  </div>
  <div class="win-image">
    <svg [tttChart]="values"></svg>
      <!-- <img mat-card-image src="assets/tic_tac_toe.svg" alt="Tic Tac toe"> -->
  </div>
  <div class="win-footer">
      <button mat-raised-button color="secondary" class="win-btn" (click)="resetGame()" mat-button>New Game</button>
  </div>
</div>
