<div class="container">

  <div class="intro-container">
      <mat-form-field>
        <mat-select [(value)]="gameEngine.numPlayers" placeholder="Number of player(s)">
          <mat-option *ngFor="let player of gameEngine.numOfPlayers" [value]="player.value">
            {{ player.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field>
        <mat-select [(value)]="gameEngine.numRows" placeholder="Number of Rows">
          <mat-option *ngFor="let row of gameEngine.numOfRows" [value]="row.value">
            {{ row.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
   
      <mat-form-field>
        <mat-select [(value)]="gameEngine.numColumns" placeholder="Number of Columns">
          <mat-option *ngFor="let column of gameEngine.numOfColumns" [value]="column.value">
            {{ column.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
  </div>
  <div class="tic-tac-image">
    <img class="image" src="assets/tic_tac_toe.svg" />
  </div>
  <div class="play-button-container">
    <button (click)="startGame()" class="play-btn" mat-raised-button color="primary">Play Tic Tac Toe</button>
  </div>
</div>
