<div class="play-container">
  <div>
    <h1>Your Turn: {{gameEngine.currentPlayer.name}}</h1>
  </div>
  <div class="btn-container">
    <button class="full-width" mat-raised-button color="secondary" (click)="addRow()">add a new row</button>
  </div>
  <div class="board-container">
    <div class="board-row" *ngFor="let row of gameEngine.board">
      <button [ngClass]="el.color" (click)="checkPlayersSquare(el)" class="board-btn" color="primary" mat-raised-button *ngFor="let el of row">{{el.name}}</button>
    </div>
  </div>
</div>
