.play-container {
    .board-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        .column-btn-container {
            display: flex;
            width: 100%;
            .full-width {
                width: 100%;
            }
        }
        .board-play-container {
            display: flex;
            .row-btn-container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .row-btn {
                    height: 100%;
                }
            }

            .board-matrix-container {
                width: 100%;
                .board-matrix {
                    display: flex;
                    flex-direction: row;
                    .board-btn {
                        width: 100%;
                    }
                }
                
            }
        
        }
        .btn-container {
            display: flex;
            justify-content: space-around;
            align-content: space-between;
            padding: 10px;
            .full-width {
                flex: 1;
            }
        }
    }
}

.color1 {
    background-color: red;
}
.color2 {
    background-color: green;
}
.color3 {
    background-color: blue;
}